body,
ul,
li,
span {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2px;
}

.header {
    width: 648px;
    height: 465px;
    background-color: #FFF7F5;
    border: black;
    margin: 0 416px;
    padding-left: 60px;
    padding-top: 20px;
    box-sizing: border-box;

}


.header-top {
    width: 526px;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid white;
    padding-left: 18px;
    line-height: 46px;
    clear: both;

}

.icon {
    float: left;
    width: 16px;
    height: 16px;
    position: relative;
    top: 14px;
    font-family: 'Inter';
    font-style: normal;
    line-height: 48px;
    border-radius: 16px;
    background-color: red;
}

span {
    font-size: 12px;
    line-height: 48px;
    position: relative;
    top: -18px;
    left: 3px;
    font-size: 18px;
    color: #F6D9D3;
}

.location {
    float: left;
    padding-left: 8px;
}

.list {
    float: right;
    position: relative;
    top: -37px;
    left: -60px;
}

.home-list li {
    float: left;
    margin-left: 21px;
   
}

.address a {
    color: #FF2501;
    text-decoration: none;
}


.direction {

    width: 72px;
    height: 24px;
    background: #FF2500;
    border-radius: 4px;
    padding: 2PX;
    line-height: 24px;
}

.direction a strong {
    position: absolute;
    width: 54px;
    height: 11px;
    text-align: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
  line-height: 24px;
  margin-right: 2px;
    /* identical to box height */

    color: #FFFFFF;
}