.top {
    height: 999px;
    background: linear-gradient(180deg, rgba(255, 244, 242, 0.4) 0%, #FFF0EE 100%);
    padding-top: 50px;
}

.top .header {
    display: flex;
    width: 1168px;
    height: 100px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    align-items: center;
    margin: 0 auto;
}

.header .left {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.top .left img {
    width: 38px;
    height: 38px;

}

.nav {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 14px;
}

.tup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tup1,
.tup2,
.tup3,
.tup4,
.tup5 {
    margin-right: 46px;
}

.tup1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FE5E44;
}

.tup2,
.tup3,
.tup4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.tup5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 40px;
    color: #FFFFFF;
    background: #FE5E44;
    box-shadow: 0px 20px 30px rgba(255, 86, 58, 0.15);
    border-radius: 5px;
}

.tup5 img {
    width: 20px;
    height: 20px;

    margin-left: 15px;
    color: #FFFFFF;
}

.tup1:hover,
.tup2:hover,
.tup3:hover,
.tup4:hover,
.tup5:hover {
    cursor: pointer;
}

.l1 {
    height: 999px;
    padding-top: 79px;
}

.l1 .nav2 {
    width: 1168px;
    height: 720px;
    background-color: #FFF0EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav2 .left-1 {
    width: 501px;
    height: 720px;
    background-color: #FFF0EE;
    display: flex;
    flex-direction: column;

}

.left-1 .theme {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #0E144A;
}

.left-1 .text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #6F6F6F;
    margin-top: 15px;
}

.left-1 .button {
    width: 366px;
    height: 50px;

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;

}

.left-1 .button .tup6 {
    width: 177px;
    height: 50px;
    background: #FE5E44;
    box-shadow: 0px 20px 30px rgba(255, 86, 58, 0.15);
    border-radius: 5px;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
}


.left-1 .button .tup7 {

    width: 177px;
    height: 50px;
    background: rgba(254, 94, 68, 0.1);
    border: 1px solid rgba(254, 94, 68, 0.2);
    border-radius: 5px;
    font-family: 'Source Sans Pro';

    font-size: 16px;
    line-height: 20px;
    color: #FE5E44;
    line-height: 50px;
    text-align: center;
    margin-left: 15px;
}


.nav2 .left-1 .card {
    width: 501px;
    height: 253px;
    position: relative;
    top: 80px;
}

.nav2 .left-1 .card1 {
    width: 375px;
    height: 203px;
    background-color: #FFFFFF;
    position: relative;
    right: -126px;
    bottom: -25px;
}

.nav2 .left-1 .card2 {
    width: 427px;
    height: 231px;
    background-color: #FFFFFF;
    position: relative;
    right: -58px;
    top: -190px;
}

.nav2 .left-1 .card3 {
    width: 426px;
    height: 253px;
    background: #FFFFFF;
    position: relative;
    top: -434px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.imgs {
    width: 120px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 30px;
}

.imgs .comment1 {
    background: #FFC93F;
}

.card .descript {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    color: #0E144A;
    width: 396px;
    height: 78px;
    position: relative;
    top: 40px;
}

.card3 .main {
    width: 366px;
    height: 55px;
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main .avatar {
    width: 55px;
    height: 55px;
}

.main .job {
    width: 211px;
    height: 46px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.main .into {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.main .befo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(14, 20, 74, 0.6);
}

.main .open {
    width: 80px;
    height: 35px;
    display: flex;
    position: relative;
    margin-left: -14px;
}

.arrow {
    width: 35px;
    height: 35px;
}

.arrow1 {
    width: 35px;
    height: 35px;
    position: relative;
    left: 10px;
}

.nav2 .right {
    width: 579.3px;
    height: 652px;
    position: relative;
    top: -639px;
    left: 561px;
}

.nav3 {
    width: 1168px;
    height: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: -95px;
}

.nav3 .left-3 {
    width: 369px;
    height: 436px;
    display: flex;
    flex-direction: column;
}

.nav3 .left-3 .header-1 {
    font-weight: 400;
    font-family: 'Patua One';
    font-style: normal;
    font-size: 35px;
    line-height: 52px;
    color: #0E144A;
}

.nav3 .left-3 .text2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(14, 20, 74, 0.6);
    margin-top: 20px;
}

.nav3 .left-3 .name {
    width: 325px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}

.nav3 .left-3 .name .name1,
.nav3 .left-3 .name .name2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.nav3 .left-3 .name .number1,
.nav3 .left-3 .name .number2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0C1B4D;
}

.nav3 .right-1 {
    width: 669px;
    height: 508px;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    left: 500px;
    top: -472px;
}

.nav3 .right-1 .box1, 
.nav3 .right-1 .box2, 
.nav3 .right-1 .box3, 
.nav3 .right-1 .box4 {
    width: 319.5px;
    height: 239px;
  background: linear-gradient(180deg, rgba(255, 244, 242, 0.4) 0%, #FFF0EE 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-1 .box1 img,
.right-1 .box2 img,
.right-1 .box3 img,
.right-1 .box4 img {
    padding: 40px;
}

.box1 .heard3,
.box2 .heard4,
.box3 .heard5,
.box4 .heard6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    position: relative;
    top: -97px;
    left: 110px;
}

.right-1 .box1 .text3 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    position: relative;
    top: -79px;
    left: 40px;
}

.right-1 .box2 .text4 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    position: relative;
    top: -79px;
    left: 40px;
}

.right-1 .box3 .text5 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    position: relative;
    top: -79px;
    left: 40px;
}

.right-1 .box4 .text6 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    position: relative;
    top: -79px;
    left: 40px;
}


