/* 导航栏开始 */
.page-nav {
    background: #fff;
}

.page-nav-inner {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-nav .left .logo {
    width: 268px;
}

.page-nav .center {
    display: flex;
}

.page-nav .center .item {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #686868;
    margin-right: 42px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-nav .center .item:hover {
    color: #232323;
}

.page-nav .center .item.selected {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #232323;
}

.page-nav .center .icon-arrow {
    width: 9px;
    margin-left: 9.5px;
}

.page-nav .right .signin-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

    width: 126px;
    height: 49px;
    background: #9E3040;
    box-shadow: 0px 0px 10px rgba(158, 48, 64, 0.17);
    border-radius: 5px;
}

.page-nav .right {
    display: flex;
}

.page-nav .right img {
    width: 22px;
}

.page-nav .right .item {
    width: 49px;
    height: 49px;
    margin-right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-nav .right .item:hover {
    background: #eee;
}

.page-nav .right .signin-buttom:hover {
    background: #83464f;
}

/* 导航栏结束 */