.text-head {

    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 58px;

    color: #232323;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 20px;
}

.text-row {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;

    color: #303030;
}

.box-button {
    width: 585px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid rgba(158, 48, 64, 0.3);
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.box-button .box-name {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;

    color: #656565;
    margin-left: 23px;
}

.box-button .button {
    width: 162px;
    height: 49px;

    background: #9E3040;
    box-shadow: 0px 0px 10px rgba(158, 48, 64, 0.17);
    border-radius: 5px;

    color: #FFFFFF; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.box-button .button .rrow{
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
}