.method {
    width: 933px;
    height: 194px;
    margin: 0 auto;
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.method .car,
.method .way,
.method .phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.method .car img {
    width: 65px;
    padding: 25px 17.5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.method .way img {
    width: 78px;
    padding: 20px 11px;

    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.method .phone img {
    width: 78px;
    padding: 20px 11px;

    background: #FFFFFF;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.method .car .heart,
.method .way .safety,
.method .phone .date {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    color: #232323;
    margin: 22px;
}

.method .car .price,
.method .way .proportion,
.method .phone .support {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #303030;
    margin-top: -23px;
}

.dotted {
    position: absolute;
    left: 0.5px;
    top: 1040.5px;
    height: 80.46px;
    opacity: 0.3;
}